body{
    height: 150vh;
    background-image: linear-gradient(to right, #7A8BAD, rgba(35, 38, 66, 1));
}

.navbartext a{
    text-decoration: none;
    color: aliceblue;
  }
  
  .navbar{
    background-image:linear-gradient(to right, #7A8BAD, #222541) ;
    display: flex;
    flex-direction: row;
    position: sticky;
  }
  .navbartext{
    font-family:'Roboto', sans-serif ;
    font-weight: 100;
    font-style: normal;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    text-decoration: none;
    font-size: 15px;
    gap: 40px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-self: center;
  
    p{
        margin:0    
    }
  }
  
  .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
  }
  .logotext{
    font-family:'Roboto', sans-serif ;
    font-weight: 100;
    font-style: normal;
    color: aliceblue;
    font-size: 15px
  }

.head{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center; 
}

.txt{
    font-family: "Josefin Sans", sans-serif;
    color: #fff;
    font-size: 40px;
}

.line{
    border-bottom: 2px solid #d0ff00;
}

.info{
    padding: 90px 60px;
}

.main{
    max-width: 1200px;
    display: flex;
    gap: 30px;
}

.main img{
    max-width: 600px;
    border-radius: 10px;
}

.infotxt{
    font-family: "Julius Sans One", sans-serif;
    color: #fff;
    text-align: center;
    letter-spacing: 3px;
}

ul {
    list-style-type: none;
}

.phot{
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 60px;
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.photo{
    transition: 0.5s;
}
  
.photo:hover{
    transform: scale(1.3);
}
  
.photo img{
    max-width: 270px;
    height: 200px;
    border-radius: 10px;
}

.bottom{
    background-image:linear-gradient(to right, #7A8BAD, #222541) ;
    background-size: cover;
    display: flex;
    flex-direction: row;
  }
  .qw1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .qw1 p{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: aliceblue;
  }
  .qw1 p1{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: aliceblue;
  }
  .qw2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
  
  }
  .qw2 p{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: aliceblue;
  }
  .qw2 a{
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: aliceblue;
  }
  .qw3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
  
  }
  .qw3 p{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: aliceblue;
  }
  .qw3 a{
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: aliceblue;
  }